.section{
    margin: 0 auto;
    min-height: 106vh;
}
.inner-content{
    display: flex;
    margin-left: 11rem;
    margin-right: 11rem;
}
.tag{
    position: absolute;
    margin-top: 5em;
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    color: #e9b171;
    line-height: 1;
}
.closing-tag{
    position: absolute;
    margin-top: 30em;
}